**/atcoder
!atcoder/
atcoder/**/atcoder

**/combined.cpp
**/*.out
**/node_modules
**/tests
**/test
**/contest.acc.json
**/metadata.yml
**/.DS_Store

aoj/**/in*.txt
aoj/**/out*.txt

codeforces/**/in*.txt
codeforces/**/ans*.txt