**/atcoder
!atcoder/
atcoder/**/atcoder

**/combined.cpp
**/*.out
**/node_modules
**/tests
**/test
**/contest.acc.json
**/metadata.yml
**/.DS_Store

aoj/**/in*.txt
aoj/**/out*.txt

codeforces/**/in*.txt
codeforces/**/ans*.txt

# from https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix